# Nuxt
.nuxt/
dist/
.output/
.env
.env.*.local
*.log

# Node
node_modules/
package-lock.json

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Database
*.db
*.db-journal
prisma/dev.db*

# Build
.cache/
.turbo/

# OS
.DS_Store
Thumbs.db

# Prisma
prisma/dev.db-journal
